[submodule "my-tasks-front"]
	path = my-tasks-front
	url = https://github.com/FacundoCotto/MyTasksFrontend
[submodule "my-tasks-backend"]
	path = my-tasks-backend
	url = https://github.com/FacundoCotto/MyTasksBackend
